.intro-outer-box{
  display: flex;
  align-content: center;
  height: 370px;
  padding-top: 50px;
  animation-name: fadeLoad;
  animation-duration: 1s;
  animation-timing-function: linear;
  width: 100%;
}
div.story{
  text-align: center;
  width: 47%;
  height: 100%;
  padding-top: 20px;
  white-space: normal;
  background-color: rgba(0, 0, 0, 0.82) ;
  color: white;
  padding-bottom: 50px;
}
div.skills{
  width: 50%;
  margin: 10px;
  height: 90%;

}
.mystory{
  margin-top: 24px;
  font-size: 2vmax;
  color: #000000;
  letter-spacing: 2.5px;
}

p.story {
  padding: 20px;
  font-size: 1.15vmax;
  font-weight: 550;

}

@media screen and (min-width: 1200px) {
  p.story {
     font-size: 36px;
  }
}

.coding-stats{
 text-align: center;
padding-left: 40px;
width: 47%;
color: rgba(0, 0, 0, 0.82);


}